@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .overflow-y-auto::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar, .overflow-x-auto::-webkit-scrollbar, .overflow-x::-webkit-scrollbar, .overflow-x-scroll::-webkit-scrollbar, .overflow-y::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-y-auto, .overflow-y-scroll, .overflow-x-auto, .overflow-x, .overflow-x-scroll, .overflow-y, body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .bg-dim-700 {
    --bg-opacity: 1;
    background-color: #192734;
  }

  .bg-dim-600 {
    --bg-opacity: 1;
    background-color: #1f3040;
  }

  html, body {
    margin: 0;
    background-color: #15202b;
  }

  svg.paint-icon {
    fill: currentcolor;
  }
  
  .divMain {
    width: 590px;
  }

  .textSmall {
    font-size: 9px;
  }
}
